body{
	background: url(img/back.png)  ;
	background-size: 100%;
	overflow-x: hidden;

	margin: 0;
}
#header {
	width: 100%;  
}
.menu{
	margin-right: 5%;
	margin-top: 2%;
	width: 60%;
	float: right;
}
.menu a{
	color: black;
	text-decoration: none;
}
.menu a:hover p3{
	border:solid 3px white;
}
.menu a:hover p4{
	border:solid 3px white;
}
.menu p3{
	border:solid 3px rgba(0, 0, 0, 0);
	padding: 1%;
	margin-right: 3%;
	font-size:140%;
	transition: 0.4s;
}
.menu p4{
	border:solid 3px rgba(0, 0, 0, 0);
	padding: 1%;
	font-size:130%;
	transition: 0.4s;
}
.menu_mb{
	text-align: center;
	display: none;
	font-family: 'Oswald', sans-serif;
	opacity: 1;
	width: 7%;
	height: 10%;
	right: 0;
	background-color: none;
	position: fixed;
	overflow: hidden;
	position: absolute;
	transition: .6s;
}
.menu_mb img{
	width: 60%;
	margin-left: 20%;
	margin-top: 20%;
}
.menu_mb a{
	color: black;
	text-decoration: none;
}
.menu_mb p3{
	float: left;
	border:solid 3px rgba(0, 0, 0, 0);
	padding: 1%;
	margin-right: 5%;
	font-size:15%;
	display: none;
	transition: .6s;
}
.menu_mb p4{
	float: right;
	border:solid 3px rgba(0, 0, 0, 0);
	padding: 1%;
	font-size:15%;
	display: none;
}
.menu_mb:hover{
	padding-top: 10%;
	opacity: 0.8;
	width: 100%;
	height: 20%;
	background-color: #FF8000;
}
.menu_mb:hover img{
	display: none;
}
.menu_mb:hover p3{
	font-size:145%;
	display: block;
}
.menu_mb:hover p4{
	font-size:135%;
	display: block;
}
.menu_mb a:hover p3{
	border:solid 3px white;
}
.menu_mb a:hover p4{
	border:solid 3px white;
}
.top{
	font-family: 'Oswald', sans-serif;
	width: 100%;
	height: 30%;
	background-color: #f4d430;
}
.top p1{
	margin-left: 10%;
	font-size: 250%;
	font-weight: 600;
}
.top p2{
	font-size: 200%;
}
.top a{
	color: black;
	text-decoration: none;
}
.down{
	width: 100%;
}
.logo_banner{
	position: relative;
	width: 100%; 
}
.butt p4{
	border-radius: 20px;
	font-size: 130%;
	font-weight: 600;
	font-family: 'Oswald', sans-serif;
	padding: 0.7%;
	margin-left: 45%;
	text-align: center;
	background: linear-gradient(to right, #E0E0F8, #f4d430);
	width: 11%;
	top: 65%;
	position: absolute;
	transition: 0.7s;
}
.butt a{
	text-decoration: none;
	color: black;
}
.butt a:hover p4{
	background: white;
}
#content{
	width: 100%;
	margin-top: 5%;
}
.hey_1{
	margin-left: 20%;
	width: 60%;
	height: 17%;
}
.hey_1 p5{
	font-family: 'Oswald', sans-serif;
	font-size: 400%;
}
.hey_2{
	float: left;
	margin: 1%;
	margin-left: 15%;
	width: 30%;
	height: 70%;
}
.hey_2 p6{
	font-family: 'Oswald', sans-serif;
	font-size: 190%;
}
.hey_3{
	float: left;
	margin: 1%;
	width: 35%;
	height: 70%;
}
.hey_3 p7{
	font-size: 135%;
	font-family: 'Oswald', sans-serif;
}
.kollage{
	margin-top: 7%;
	width: 100%;
	font-family: 'Oswald', sans-serif;
}
.kollage p1{
	font-size: 120%;
	font-weight: 600;
}
.kollage p2{
	font-size: 110%; 
}
.img_1{
	width: 40%;
	position: relative;
	margin: 0.5%;
	margin-left: 14%;
	float: left;
}
.img_1 img{
	float: left;
	width: 100%;
}
.text_1{
	text-align: center;
	left: 60%;
	opacity: 0;
	position: absolute;
	width: 40%;
	height: 100%;
	background-color: #F781D8;
	transition: .6s;
}
.img_1:hover .text_1{
	left: 0;
	opacity: 1;
}
.img_2{
	width: 31.1%;
	position: relative;
	margin: 0.5%;
	float: left;
}
.img_2 img{
	float: left;
	width: 100%;
}
.text_2{
	text-align: center;
	top: 0;
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 40%;
	background-color: #EFFBFB;
	transition: .6s;
}
.img_2:hover .text_2{
	top:60%;
	opacity: 1;
}
.img_3{
	width: 31.1%;
	position: relative;
	margin: 0.5%;
	margin-left: 14%;
	float: left;
}
.img_3 img{
	float: left;
	width: 100%;
}
.text_3{
	text-align: center;
	top: 0;
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 40%;
	background-color: #8181F7;
	transition: .6s;
}
.img_3:hover .text_3{
	top: 60%;
	opacity: 1;
}
.img_4{
	width: 40%;
	position: relative;
	margin: 0.5%;
	float: left;
}
.img_4 img{
	float: left;
	width: 100%;
}
.text_4{ 
	text-align: center;
	left: 0;
	opacity: 0;
	position: absolute;
	width: 40%;
	height: 100%;
	background-color: #f4d430;
	transition: .6s;
}
.img_4:hover .text_4{
	left: 60%;
	opacity: 1;
}
.frt{
	width: 100%;
	margin-top: 5%;
}
.work{
	padding-top: 6%;
	font-family: 'Oswald', sans-serif;
	width: 100%;
	height: 70%;
}
.blockup{
	margin-left: 4%;
	float: left;
	position: relative;
	box-shadow: 0px 0px 10px 1px #F5DA81;
	text-align: center;
	width: 20%;
	height: 38%;
	background: linear-gradient(to top,#FE2E64 , #f4d430 );
}
.blockup img{
	width: 60%;
}
.blockdown{
	top: 0;
	position:absolute;
	opacity: 0;
	box-shadow: 0px 0px 10px 1px #F5DA81;
	padding-left: 3%;
	padding-right: 3%;
	width: 94%;
	height: 120%;
	background-color: white;
    transition: .7s;
}
.blockdown p1{
	margin-left: 3%;
	font-size: 120%;
}
.blockdown p2{
	margin-top: 5%;
	font-size: 95%;
}
.blockup:hover .blockdown{
	top: 100%;
	opacity: 1;
}
#footer{
	width: 100%;
	bottom: 0;
}
#footer img{
	width: 100%;
}
.close-button {
  cursor: pointer;
}

#hamburger-open {
  z-index: 1;
  position: relative;
  margin-left: 90%;
  width: 60px;
  height: 60px;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.spans {
  top: 0;
  width: 100%;
  height: 10%;
  background-color: #111820;
  border-radius: 500px;
  opacity: 1;
  transition-property: background-color, transform, opacity;
  transition-duration: 0.5s;
  transition-delay: 0.5s;
}

.white {
  background-color: #f5f5f5;
  transition-duration: 0.5s;
  transition-delay: none;
}

.spanOneRotate {
  transform: translateY(9px) rotate(-45deg);
  transition-property: background-color, transform;
  transition-duration: 0.5s;
  transition-delay: 0.5s;
}

.spanTwoRotate {
  transform: rotate(45deg);
  transition-property: background-color, transform;
  transition-duration: 0.5s;
  transition-delay: 0.5s;
}

.spanThreeHide {
  transition-property: background-color, opacity;
  opacity: 0;
  transition-duration: 0.5s;
  transition-delay: 0.5s;
}

.modal-menu {
  position: absolute;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50vw;
  height: auto;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-delay: 0s;
}

.menuitem {
  position: relative;
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  color: #a5a5a5;
  height: 75px;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-delay: 0;
}

.menuitem:after {
  content: "";
  position: absolute;
  width: 100%;
  top: 45%;
  left: -6px;
  background-color: #111820;
  height: 1px;
  z-index: -1;
  transition-property: all;
  transition-duration: 0.5s;
}

.menuitem:nth-of-type(1):hover:after {
  background-color: #ff4338;
  transform: scaleY(20) translateY(-60%);
}

.menuitem:nth-of-type(2):hover:after {
  background-color: #3cd52e;
  transform: scaleY(20) translateY(-60%);
}

.menuitem:nth-of-type(3):hover:after {
  background-color: #00b3e3;
  transform: scaleY(20) translateY(-60%);
}

.menuitem:nth-of-type(4):hover:after {
  background-color: #ff4338;
  transform: scaleY(20) translateY(-60%);
}

.menuitem:hover {
  color: #f5f5f5;
}

.show {
  opacity: 1;
  transition-property: all;
  transition-duration: 0.5s;
  transition-delay: 1s;
}
#header_mb{
	overflow: hidden;
	display: none;
	width: 100%;
	height: 14%;
	background-color: #f4d430;
}
.logo_mb{
	float: left;
}
.logo_mb a{
	text-decoration: none;
	color: black;
}
.logo_mb p1{
	font-size: 300%;
	font-family: 'Oswald', sans-serif;
}
.logo_mb p2{
	font-size: 200%;
	font-family: 'Oswald', sans-serif;
}
.logo_banner_mb{
		margin-top: 14%;
		position: absolute;
		display: none;
	}
#content_mb{
	display: none;
	width: 100%;
	height: auto;
}
.hey{
	margin-top: 47%;
	margin-bottom: 6%;
	text-align: center;
	width: 84%;
	padding-left: 8%;
	padding-right: 8%;
}
.hey p5{
	font-size: 450%;
	font-family: 'Oswald', sans-serif;
}
.hey p6{
	font-size: 200%;
	font-family: 'Oswald', sans-serif;
}
.hey p7{
	font-size: 160%;
	font-family: 'Oswald', sans-serif;
}
.btn {
	position: relative;
    overflow: hidden;
    z-index: 1;
	padding: 10px 40px;
	margin: 0 20px;
	margin-top: 15%;
	margin-bottom: 15%;
	font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 600;
    line-height: 30px;
    color: white;
    font-size: 15px;    
    text-transform: uppercase;
	background: #f4d430;
	border-width: 0;
    box-shadow: 5px 5px 0 #532831;
	outline: none;
	cursor: pointer;
    transition: 1.5s;
}
.btn:before,
.btn:after {
	content: "";
	position: absolute;  
    height: 200px;
    left: -50%;
    margin-top: -100px;    
    top: 50%;
    width: 200px;
	border-radius: 50%;
    opacity: 0.3;
    z-index: -1;
    transform: scale(0);
}
.btn:before {
	background: #ffeede;   
    transition: .8s ease-out;
}
.btn:after {   
    transition: .4s ease-in .3s;
}
.btn:hover {
    color: #532831;
}
.btn:hover:before,
.btn:hover:after{
    opacity: 1;
    transform: scale(4);
}
@media screen and (max-width:1066px){
	.menu{
		display: none;
	}
	.menu_mb{
		display: block;
	}
	.top{
		text-align: center;
	}
	.top p1{
		margin-left: 0;
	}
	.hey_1 p5{
		font-size: 300%;
	}
	.hey_2 p6{
		font-size: 135%;
	}
	.hey_3 p7{
		font-size: 110%;
	}
	.kollage p1{
		font-size: 100%;
	}
	.kollage p2{
		font-size: 90%;
	}
}
@media screen and (max-width:980px){
	body{
		position: relative;
	}
	#header{
		display: none;
	}
	#content{
		display: none;
	}
	.menu_mb{
		display: none;
	}
	#header_mb{
		display: block;
	}
	#hamburger-open{
		display: flex;
	}
	.modal-menu{
		display: flex;
	}
	.logo_banner_mb{
		display: block;
	}
	#content_mb{
		display: block;
	}
	.kollage{
		text-align: center;
	}
	.kollage p1{
		font-size: 180%;
	}
	.kollage p2{
		font-size: 140%;
	}
	.img_1{
		box-shadow: 0px 0px 10px 5px #F5DA81;
		margin-left: 10%;
		width: 79%;
		margin-bottom: 5%;
	}
	.text_1{
		left: 0;
		opacity: 1;
	}
	.img_2{
		box-shadow: 0px 0px 10px 5px #F5DA81;
		margin-left: 10%;
		width: 79%;
		margin-bottom: 5%;
	}
	.text_2{
		top:60%;
		opacity: 1;
		background-color: #81BEF7;
	}
	.img_3{
		box-shadow: 0px 0px 10px 5px #F5DA81;
		margin-left: 10%;
		width: 79%;
		margin-bottom: 5%;
	}
	.text_3{
		top: 60%;
		opacity: 1;
	}
	.img_4{
		box-shadow: 0px 0px 10px 5px #F5DA81;
		margin-left: 10%;
		width: 79%;
		margin-bottom: 5%;
	}
	.text_4{
		left: 60%;
		opacity: 1;
	}
}
