body{
	margin:0;
	padding: 0;
	background-color: #90388f;
}
#header{
	width: 100%;
	height: 120%;
	background-image: url(logo_bg.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}
.logo{
	width: 20%;
	margin-left: 3%;
	margin-top: 1%;
}
.menu {
	text-align: right;
	width: 75%;
	font-size: 120%;
	font-family: 'Myriad Pro Bold Condensed';
	float: right;
	margin-top: 3%;
}
.menu p1{
	color: #eb5546;
	margin-right: 7%;
	border-bottom: 0px solid #EB5546;
	transition: .1s;
}
.menu p1:hover{
	border-bottom: 4px solid #EB5546;
}
.menu p2{
	color: #eb5546;
	margin-right: 1%;
	margin-left: 1%;
}
.menu p3{
	cursor: pointer;
	color: #eb5546;
	margin-right: 7%;
	border-bottom: 4px solid #EB5546; 
}
.menu a{
	text-decoration: none;
}
.info{
	margin-top: 23%;
	width: 100%;
	text-align: center;
}
.info p1{
	font-size: 350%;
	color: white;
	font-family: 'Myriad Pro Bold';
}
.info p2{
	font-size: 390%;
	color: white;
	font-family: 'Myriad Pro Condensed';
}
.info p3{
	font-size: 100%;
	color: white;
	font-family: 'Myriad Pro Regular';
}
.but{
	width: 0;
	cursor: pointer;
	margin-top: 2%;
	outline: none;
	border: none;
	background-color: rgba(95, 55, 170 , 0);
}
.button{
	width: 20%;
	position: absolute;
	left: 41.3%;
	top: 101%;
}
#content{
	width: 100%;
	height: 400%;
	background-image: url(content_bg.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}
.info_c{
	width: 100%;
	height: 17%;
}
.info_c p1{
	font-size: 300%;
	color: white;
	font-family: 'Myriad Pro Condensed';
	float: left;
	margin-left: 8%;
	margin-top: 5%;
	transition: .5s;
}
.info_c p1:hover{
	margin-top: 4%;
}
.info_c p2{
	font-size: 300%;
	color: white;
	font-family: 'Myriad Pro Condensed';
	float: right;
	margin-right: 8%;
	margin-top: 3%;
	transition: .5s;
}
.info_c p3{
	font-size: 500%;
	color: white;
	font-family: 'Myriad Pro Bold Condensed';
	float: left;
	margin-top: 7%;
	margin-left: 41.5%;
}
.block{
	text-align: center;
}
.block img{
	width: 40%;
}
.block p1{
	font-size: 250%;
	font-family: 'Myriad Pro Bold Condensed';
	color: white;
}
.block p2{
	font-size: 150%;
	font-family: 'Myriad Pro Condensed';
	color: white;
}
.block_i1{
	width: 20.2%;
	height: 14%;
	float: left;
	margin-left: 14.5%;
}
.block_i2{
	width: 20.2%;
	height: 14%;
	float: left;
	margin-left: 5.2%;
}
.block_i3{
	width: 20.2%;
	height: 14%;
	float: left;
	margin-left: 5%;
}
.news{
	width: 86%;
	height: 54%;
	margin-top: 32%;
	padding-left: 14%;
}
.anm{
	float: right;
}
.news p1{
	font-size: 600%;
	font-family: 'Myriad Pro Bold Condensed';
	color: #662d91;
}
.news p2{
	font-size: 200%;
	font-family: 'Myriad Pro Bold Condensed';
	color: #ac3dff;
}
.news p3{
	margin-right: 17%;
	margin-top: 6%;
	font-size: 140%;
	font-family: 'Myriad Pro Bold Condensed';
	color: #ac3dff;
	float: right;
}
.but_n{
	margin-top: 40%;
	cursor: pointer;
	font-size: 170%;
	outline: none;
	border:none;
	float: right;
	background-color: #eb5546;
	color: white;
	font-family: 'Myriad Pro Bold Condensed';
	padding: 20px;
	border-radius: 100px;
	box-shadow: 6px 7px 21px 0px rgba(132,0,123,0.75);
}
.but_r{
	margin-top: 5%;
	margin-right: 18%;
	float: left;
	cursor: pointer;
	font-size: 130%;
	outline: none;
	border:none;
	float: right;
	background-color: #662d91;
	color: white;
	font-family: 'Myriad Pro Bold Condensed';
	padding: 10px;
	padding-left: 40px;
	padding-right: 40px;
	border-radius: 100px;
	box-shadow: 6px 7px 21px 0px rgba(132,0,123,0.75);
}
.go_to{
	margin-top: 3%;
	width: 100%;
	text-align: center;
}
.go_to p1{
	font-size: 300%;
	color: white;
	font-family: 'Myriad Pro Bold';
}
.go_to p2{
	font-size: 300%;
	color: white;
	font-family: 'Myriad Pro Bold Condensed';
}
.but_e{
	cursor: pointer;
	font-size: 170%;
	margin-top: 2%;
	outline: none;
	border:none;
	background-color: white;
	color: #662d91;
	font-family: 'Myriad Pro Bold Condensed';
	padding: 14px;
	padding-left: 50px;
	padding-right: 50px;
	border-radius: 100px;
	box-shadow: 6px 7px 21px 0px rgba(132,0,123,0.75);
}
#footer{
	background-image: url(footer.png);
	background-size: 100%;
	background-repeat: no-repeat;
	padding-top: 5%;
	width: 100%;
	height: 30%;
	background-color: #ffe45d;
}
.footer{
	margin-top: 3%;
	text-align: center;
}
.footer p4{
	color: #eb5546;
	font-size: 100%;
	font-family: 'Myriad Pro Condensed';
}
.logo_f{
	margin-left: 16%;
	width: 2%;
}
.logo_c{
	margin-right: 1%;
	float: right;
	width: 3%;
}
#header_mb{
	display: none;
}
#content_mb{
	display: none;
}
#menu{
	display: none;
}
#footer_mb{
	display: none;
}
@media screen and (max-width:980px){
	#menu{
		display: block;
		width: 100%;
		height: 9%;
		position: fixed;
		bottom: 0;
		background: linear-gradient(to left, #f7bf54 ,#ed5645 ,#8a3695 );
		z-index: 10;
	}
	.hub_1{
		width: 17.5%;
		height: 100%;
		float: left;
		text-align: center;
	}
	.hub_2{
		width: 20%;
		height: 100%;
		float: right;
		text-align: center;
	}
	.icon_menu{
		margin-top: 25%;
		width: 66%;
	}
	#header{
		display: none;
	}
	#content{
		display: none;
	}
	#footer{
		display: none;
	}
	#header_mb{
		display: block;
		width: 100%;
		height: 100%;
		background-image: url(logo_bg_mb.jpg);
		background-size: 100%;
		background-repeat: no-repeat;
		text-align: center;
	}
	.logo_mb{
		width: 70%;
		margin-top: 4%;
	}
	.info_mb{
		width: 100%;
		margin-top: 70%;
	}
	.info_mb p1{
		font-size: 550%;
		color: white;
		font-family: 'Myriad Pro Bold';
	}
	.info_mb p2{
		font-size: 550%;
		color: white;
		font-family: 'Myriad Pro Condensed';
	}
	.info_mb p3{
		font-size: 250%;
		color: white;
		font-family: 'Myriad Pro Regular';
	}
	.but_mb{
		width: 0;
		cursor: pointer;
		outline: none;
		border: none;
		background-color: rgba(95, 55, 170 , 0);
	}
	.button_mb{
		width: 60%;
		position: absolute;
		left: 20%;
		top: 70%;
	}
	#content_mb{
		display: block;
		width: 100%;
		height: 190%;
		background-image: url(content_bg_mb.jpg);
		background-size: 100%;
		background-repeat: no-repeat;
	}
	.info_c_mb{
		margin-top: 10%;
		text-align: center;
		width: 100%;
		height: 25%;
	}
	.info_c_mb p1{
		font-size: 500%;
		color: white;
		font-family: 'Myriad Pro Condensed';
		margin-top: 5%;
	}
	.info_c_mb p2{
		font-size: 500%;
		color: white;
		font-family: 'Myriad Pro Condensed';
	}	
	.info_c_mb p3{
		font-size: 700%;
		color: white;
		font-family: 'Myriad Pro Bold Condensed';
	}
	.block_mb{
		width: 100%;
		height: 8%;
	}
	.block_i_mb_1{
		text-align: center;
		float: left;
		width: 29%;
		height: 100%;
	}
	.block_i_mb_2{
		text-align: center;
		margin-left: 5%;
		float: left;
		width: 29%;
		height: 100%;
	}
	.block_i_mb_3{
		text-align: center;
		margin-left: 7%;
		float: left;
		width: 29%;
		height: 100%;
	}
	.block_mb p1{
		font-size: 300%;
		font-family: 'Myriad Pro Bold Condensed';
		color: white;
	}
	.i_block{
		width: 50%;
	}
	.news_mb{
		width: 100%;
		height: 55%;
	}
	.news_mb p1{
		margin-left: 30%;
		font-size: 1000%;
		font-family: 'Myriad Pro Bold Condensed';
		color: #662d91;
	}
	.news_mb p2{
		margin-top: 4%;
		margin-left: 5%;
		margin-bottom: 4%;
		font-size: 300%;
		font-family: 'Myriad Pro Bold Condensed';
		color: #ac3dff;
		float: left;
	}
	.news_mb p3{
		font-size: 240%;
		font-family: 'Myriad Pro Bold Condensed';
		color: #ac3dff;
	}
	.anim_mb_1{
		width: 60%;
		float: left;
	}
	.anim_mb_2{
		width: 40%;
		margin-left: 30%;
		float: left;
	}
	.but_n{
		margin-top: 0;
		font-size: 270%;
	}
	.but_r{
		margin-top: 5%;
		margin-right: 18%;
		float: left;
		cursor: pointer;
		font-size: 230%;
		margin-left: 20%;
	}
	.go_to p1{
		font-size: 450%;
	}
	.go_to p2{
		font-size: 500%;
	}
	.but_e{
		font-size: 500%;
	}
	#footer_mb{
		display: block;
		text-align: center;
		width: 100%;
		height: 28%;
		background: linear-gradient(to top, #903890 ,#963cdb );
	}
	.logo_footer_mb{
		width: 50%;
	}
	.logo_c_mb{
		width: 14%;
	}
	#footer_mb p1{
		color: #eb5546;
		font-size: 200%;
		font-family: 'Myriad Pro Condensed';
	}
}

@media screen and (max-height:2000px){
	.icon_menu{
		margin-top: 15%;
	}
	.button_mb{
		top: 80%;
	}
	#content_mb{
		height: 230%;
	}
}

@media screen and (orientation:landscape) and (max-device-width: 980px){
	#header_mb{
		display: none;
	}
	#header{
		display: block;
	}
	#content{
		display: block;
	}
	#footer{
		display: block;
	}
}