#support{
	width: 100%;
	height: 150%;
}
.help{
	margin-top: 4%;
	width: 100%;
	text-align: center;
}
.help p1{
	font-family: 'Oswald', sans-serif;
	font-size: 300%;
}
.help p2{
	margin-left: 15%;
	margin-right: 15%;
	float: left;
	font-family: 'Oswald', sans-serif;
	font-size: 150%;
}
.help p3{
	float:left;
	font-family: 'Oswald', sans-serif;
	font-size: 150%;
}
.help p4{
	margin-right: 20%;
	float:right;
	font-family: 'Oswald', sans-serif;
	font-size: 150%;
}
a{
	text-decoration: none;
	color: black;
	transition: .5s;
}
a:hover {
	color: #FE2E2E;
}
.icon_sup{
	margin-left: 10%;
	float: left;
	width: 3%;
}
.icon_sup_r{
	float: right;
	width: 3%;
}
.icon_sup_rm{
	display: none;
}
.input{
	text-align: center;
	margin-top: 10%;
	width: 100%;
}
.search_1{
	box-shadow: #FE2E64 0px 0px 0px;
	border-radius: 20px;
	height: 5%;
	width: 80%;
	color: black;
	background-color: #f4d430;
	border: none;
	outline: none;
	font-family: 'Oswald', sans-serif;
	font-size: 150%;
	padding-left: 2%;
	transition: .3s;
}
.search_1:hover{
	box-shadow: #FE2E64 4px 4px 4px;
}
.search_2{
	margin-top: 1.5%;
	box-shadow: #819FF7 0px 0px 0px;
	border-radius: 40px;
	height: 16.7%;
	width: 80%;
	color: black;
	background-color: #f4d430;
	border: none;
	outline: none;
	font-family: 'Oswald', sans-serif;
	font-size: 150%;
	padding-left: 2%;
	transition: .3s;
}
.search_2:hover{
	box-shadow: #819FF7 4px 4px 4px;
}
.otp{
	border-radius: 0px 0px 20px 20px;
	font-size: 150%;
	color: black;
	background-color: #f4d430;
	width: 10%;
	height: 5%;
	font-family: 'Oswald', sans-serif;
	border: none;
	outline: none;
	transition: 1s;
}
.otp:hover{
	background-color: #F3F781;
}
@media screen and (max-width:980px){
	#support{
		margin-top: 40%;
		height: 80%;
	}
	.icon_sup{
	width: 7%;
	}
	.icon_sup_r{
	display: none;
	}
	.help p1{
		font-size: 400%;
	}
	.help p2{
		font-size: 200%;
	}
	.help p3{
		font-size: 250%;
	}
	.help p4{
		float: left;
		font-size: 250%;
	}
	.icon_sup_rm{
	margin-left: 10%;
	float: left;
	display: block;
	width: 7%;
	}
	.search_1{
		height: 7%;
		width: 90%;
		margin-top: 10%;
	}
	.search_2{
		width: 90%;
	}
	.otp{
		height: 7%;
		margin-top: 5%;
		width: 30%;
		border-radius: 20px 20px 20px 20px;
	}
}
@media screen and (orientation:landscape) and (max-device-width: 980px){
	#support{
		margin-top: 0%;
		height: 150%;
	}
	.icon_sup{
	width: 3%;
	}
	.icon_sup_r{
	display: block;
	}
	.help p1{
		font-size: 300%;
	}
	.help p2{
		font-size: 150%;
	}
	.help p3{
		font-size: 150%;
	}
	.help p4{
		float: left;
		font-size: 150%;
	}
	.icon_sup_rm{
	display: none;
	}
	.search_1{
		height: 5%;
		width: 80%;
		margin-top: 0%;
	}
	.search_2{
		width: 80%;
	}
	.otp{
		height: 5%;
		margin-top: 0%;
		width: 12%;
		border-radius: 0px 0px 20px 20px;
	}
}